.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header .btn {
    /* background: blue; */
    padding: 10px;
    width: 70px;
    border-radius: 10px;
    border: 0;
    transition: 1s;
    margin-right: 5px;
}
.header .btn:hover {
    background: gray;
}

.card-block {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background: red; */
}
.card {
    background: gray;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 60px;
    height: 90px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.none {
    display: none;
}
.exist {
    display: flex;
}